<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hababk.userapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.hababk.userapp.ChefApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/name_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/geo_api_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.hababk.userapp.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hababk.userapp.activity.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.hababk.userapp.activity.CartActivity"
            android:label="@string/label_cart"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hababk.userapp.activity.RefineActivity"
            android:label="@string/label_refine"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hababk.userapp.activity.OrderDetailActivity"
            android:label="@string/label_order_detail"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hababk.userapp.rest_detail.RestaurantDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hababk.userapp.activity.FoodDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hababk.userapp.checkout.CheckoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hababk.userapp.activity.AddEditAddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.hababk.userapp.activity.PostReviewActivity"
            android:label="@string/label_rate"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <service android:name="com.hababk.userapp.service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.hababk.userapp.service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.hababk.userapp.checkout.OrderPlacedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />

        <activity
            android:name="com.hababk.userapp.activity.BuyPromtActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullScreen" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="562cb3f90b4dbd7f6c4d6eaf9bc29a1e1630877c" />
    </application>

</manifest>